@model ForexHistory.Models.history

@{
    ViewBag.Title = "Details";
}
@section banner{
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br />
                <hr />
                <center><h1 class="text-primary">Forex History Dashboard</h1></center>
                <hr />
            </div>
        </div>
    </div>
}
@section featured{
    <div class="container-fluid">
        <div class="col-md-3">
            <div class="row-fluid">
                <div class="">
                    <div class="well">
                        <h3>Navigation</h3>
                        <ul class="nav nav-list">
                            <li>@Html.ActionLink("Index", "Index", "Home", null, new { @class = "text-success" })</li>
                            <li>@Html.ActionLink("Dashboard", "Index", "Forex", null, new { @class = "text-success" })</li>
                            <li>@Html.ActionLink("Investments", "Index", "HistoryItem", null, new { @class = "text-success" })</li>
                            <li>@Html.ActionLink("Profile", "Profile", "Member", null, new { @class = "text-success" })</li>
                            <li>@Html.ActionLink("Logout", "Logout", "Member", null, new { @class = "text-success" })</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="">
                    <div class="well">
                        <h3>Latest Values</h3>
                        <ul class="nav nav-list">
                            <li>@ViewBag.cur1</li>
                            <li>@ViewBag.cur2</li>
                            <li>@ViewBag.cur3</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-lg-9">
            <fieldset class="well">
                <h3 class="text-primary">Details</h3>

                <div class="col-md-12">
                    <div class="text-success col-md-6">
                        <strong>First Date</strong>
                    </div>
                    <div class="text-info col-md-6">
                        @Html.DisplayFor(model => model.date1)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-success col-md-6">
                        <strong>Second Date</strong>
                    </div>
                    <div class="text-info col-md-6">
                        @Html.DisplayFor(model => model.date2)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-success col-md-6">
                        <strong>Current Currency</strong>
                    </div>
                    <div class="text-info col-md-6">
                        @Html.DisplayFor(model => model.cur1)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-success col-md-6">
                        <strong>Currency To Exchange</strong>
                    </div>
                    <div class="text-info col-md-6">
                        @Html.DisplayFor(model => model.cur2)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-success col-md-6">
                        <strong>Amount</strong>
                    </div>
                    <div class="text-info col-md-6">
                        @Html.DisplayFor(model => model.amount) @Html.DisplayFor(model => model.cur1)
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-success col-md-6">
                        <strong>Result</strong>
                    </div>
                    <div class="text-info col-md-6">
                        @Html.DisplayFor(model => model.result) @Html.DisplayFor(model => model.cur1)
                    </div>
                </div>
            </fieldset>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
    </div>
}
