@model ForexHistory.Models.history

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>history</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.userId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.date2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.date2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cur1)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cur1)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.cur2)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.cur2)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.amount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.amount)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
