@{
    ViewBag.Title = "Index";
}
@section banner{
    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span12">
                <br/>
                <hr/>
                <center><h1 class="text-primary">Forex History Dashboard</h1></center>
                <hr/>
            </div>
        </div>
    </div>
}
@section featured{
<div class="container-fluid">
    <div class="col-md-3">
        <div class="row-fluid">
            <div class="">
                <div class="well">
                    <h3>Navigation</h3>
                    <ul class="nav nav-list">
                        <li>@Html.ActionLink("Index", "Index", "Home", null, new { @class = "text-success" })</li>
                        <li>@Html.ActionLink("Dashboard", "Index", "Forex", null, new { @class = "text-success" })</li>
                        <li>@Html.ActionLink("Investments", "Index", "HistoryItem", null, new { @class = "text-success" })</li>
                        <li>@Html.ActionLink("Profile", "Profile", "Member", null, new { @class = "text-success" })</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Member", null, new { @class = "text-success" })</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="">
                <div class="well">
                    <h3>Latest Values</h3>
                    <ul class="nav nav-list">
                        <li>@ViewBag.cur1</li>
                        <li>@ViewBag.cur2</li>
                        <li>@ViewBag.cur3</li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <div class="col-md-9 text-primary">
        <p>You can keep track of your willing forex investments easily!</p>
        <p>All you need to do is clicking Investments link to see your previous investments.</p>
        <p>To create a new investment, first you have to go Investments, than you can create investments.</p>
    </div>
</div>
}